/* General webpage styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Main webpage div */
#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

/* React.js div */
#app {
    width: 100%;
    height: 100%;
    display: flex;
}
