/* General webpage styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Main webpage div */
#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

/* React.js div */
#app {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60%;
    max-width: 60%;
    max-height: 80vh;
    overflow: auto;
}
